/*>>>>>>>>>>>>>>>>>>>>>> UTILITY SECTION <<<<<<<<<<<<<<<<<<<*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: #000;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
}
/*>>>>>>>>>>>>>>>>>>>>>> LAYOUT SECTION <<<<<<<<<<<<<<<<<<*/
.header-section {
  width: 100vw;
  height: 70px;
  background-image: linear-gradient(180deg, rgba(000,000,000, 1),rgba(000,000,000, 0.8),rgba(000,000,000, 0));
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
  position: fixed;
  z-index: 100;
}
.header-section:hover {
  background-color: #000;
}
.select-box {
  position: absolute;
  width: 450px;
  padding: 0px 15px;
  background-color: black;
  top: 100%; 
}

.select-box ul>li.generi {
  color: lightslategray;
  line-height: 30px;
  display: inline-block;
  width: calc((100% / 12) * 4);
}
.select-box ul>li.generi:hover {
  color: #fff;
 text-decoration: underline;
}
.jumbotron {
  width: 100vw;
  max-width: 100%;
  height : calc(100vh - 100px);
  background-image: url('../img/generic/jumbo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.jumbo-label {
  color: #fff;
  text-align: center;
  padding-top: 200px;
  width: 40%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(000, 000, 000, 0.8), rgba(000,000,000, 0.6),rgba(000,000,000, 0));
}
.jumbo-title {
  margin-bottom: 120px;
}
.jumbo-title >h1{
  font-size: 80px;
}
.jumbo-title >span{
  font-size: 120px;
}
.jumbo-label > p {
  font-size: 30px;
}
.searchResult-box {
  padding: 10px 5px;
  flex-wrap:wrap;
  position: relative;
}
.searchResult-container {
  margin-top: 70px;
}

/*>>>>>>>>>>>>>>>>>>>>>>> STYLE SECTION <<<<<<<<<<<<<<<<<<<<<*/
.header-nav.left {
  align-items: center;
}
.logo-head {
  margin-right: 45px;
}
.logo-head > img {
  vertical-align: middle;
  width: 120px;
}
.navMenu-option li {
  color:#fff;
  margin-right: 25px;
  cursor: pointer;
}
.searchBar-box {
  height: 30px;
  padding: 5px;
  border: 1px solid #fff;
}
.search-button{
  color: #fff;
  cursor: pointer;
}

.searchInput{
  outline: none;
  border: none;
  margin-left: 15px;
  width: 200px;
  background-color: transparent;
  padding: 0px 5px;
  color: #fff;
}
.search-button.delete {
  margin-left: 10px;
}

/*+++++++++++++++main+++++++++*/
/*default view*/
.movieRow-box,
.tvRow-box {
  overflow-x: scroll;
}
.sectionDefault-title{
  position: absolute;
  padding-top: 25px;
  padding-left: 15px;;
}
.sectionDefault-title > span {
  color: #fff;
  font-size: 38px;
}
.movie-section,
.tv-section {
  margin-top: 80px;
  margin-bottom: 20px;
}

/*search view*/
.film-tab {
  width: 342px;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: rgba(000, 000, 000, 0.7);
  color: #fff;
  margin-right: 5px;
  position: absolute;
  top:0;
  display: none;
  transition: background-color;
  transition-duration: 2s;
}

.searchResult-container:hover .film-tab,
.img-preview:hover .film-tab {
  display: block;
}
.keyName {
  font-weight: bolder;
  font-size: 15px;
}
.data-imported {
  font-size: 14px;
}

.data-imported-img > img {
  width: 18px;
  vertical-align: middle;
}
.vote > i {
  color: #ffd700;
}
.img-preview {
  position: relative;
  width: 342px;
  height: 513px;
  margin-right: 10px;
}
.img-preview > img {
  max-height: 513px;
  border-radius: 8px;
}
.searchResult-container {
  padding: 5px 5px;
}
.no-img {
  width: 342px;
  height: 513px;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 15px 5px;
  margin-bottom: 5px;
  text-align: center;
}
.logo-cards > img {
  vertical-align: middle;
  width: 200px;
}
.logo-cards {
  margin-bottom: 20px;
}