<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN VUE -->
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- CDN axios library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <div class="searchBar-box padding">
            <input type="text" v-model="userSearch" @keyup.enter="isSearchFilm()">
            <button @click="isSearchFilm()">Search</button>
        </div>
        <div class="searchResult-box padding">
            <ul v-for="data in searchList">
                <li class="title">
                    Title: {{data.title}}
                </li>
                <li class="original-title">
                    Original Title: {{data.original_title}}
                </li>
                <li class="language">
                    Original Language: {{data.original_language}}
                </li>
                <li class="vote">
                    Vote: {{data.vote_average}}

                </li>
            </ul>
        </div>

    </div>
    
    <script src="js/script.js"></script>
</body>
</html>