<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontsAwesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- CDN VUE -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- CDN axios library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <title>BOOLFLIX DC</title>
  <link rel="stylesheet" href="css/style.css">
</head>
  <body>
    <!-- VUE JS APP -->
    <div id="app">
        <!-- PAGE WRAPPER -->
      <div class="page-wrapper">
          <!-- HEADER -->
          <div class="header-section flex">
            <!-- left header -->
            <div class="header-nav left">
              <div class="logo-head">
                <img src="img/logo/bool.png" alt="">
              </div>
            </div>
            <!-- /left header -->
            <!-- right head -->
            <div class="header-nav right">
              <div class="searchBar-box flex">
                <div class="search-button">
                  <i class="fas fa-search"></i>
                </div>
                <input type="text" v-model="userSearch" @keyup="isSearchFilm()" placeholder="titoli, persone, generi">
               
              </div>
            </div>
            <!-- /right head -->
          </div>
            <!-- /HEADER -->
            <!-- MAIN -->
        <div class="searchResult-box flex">
          <div class="searchResult-container flex" v-for="(data, index) in searchList">
            <div class="film-tab">
              <ul>
                <li class="title">
                  <div v-if="data.title">
                    <span class="data-name">
                      Title:
                     </span>
                     <span class="data-imported">
                      {{data.title}}
                     </span> 
                  </div>
                  <div v-else>
                    <span class="data-name">
                      Title:
                    </span>
                    <span class="data-imported">
                      {{data.name}}
                    </span>
                  </div>
                </li>
                <li class="original-title">
                  <div v-if="data.original_title">
                    <span class="data-name">
                      Original Title:
                    </span>
                    <span class="data-imported">
                      {{data.original_title}}
                    </span> 
                  </div>
                  <div v-else>
                    <span class="data-name">
                      Original Title:
                    </span>
                    <span class="data-imported">
                      {{data.original_name}}
                    </span>
                  </div>
                </li>
                <li class="language">
                  <span class="data-name">Original Language:</span> 
                  <span class="data-imported-img" v-if="langList.includes(data.original_language)">
                    <img :src="'img/flags/' + data.original_language + '.png' " >
                  </span>
                  <span class="data-imported" v-else>
                    {{data.original_language}}
                  </span>
                </li>
                <li class="vote flex" >
                  <span class="data-name">
                    Vote:
                  </span>
                  <i class="fas fa-star" v-for="index in starsVote(data.vote_average)"></i>
                  <i class="far fa-star" v-for="index in (5-starsVote(data.vote_average))"></i>
                </li>
                <li class="overview-box">
                  <div class="overview-content">
                    <span class="data-name">
                      Overview:
                    </span>
                    <span class="data-imported">
                      {{data.overview}}
                    </span>
                    
                  </div>
                </li>
              </ul>
  

            </div>
            <div class="img-preview">
              <div v-if="data.poster_path">
                <img :src="'http://image.tmdb.org/t/p/w200/'+data.poster_path" alt="">
              </div>
              <div v-else>
                <div class="no-img flex">
                  <div v-if="data.title">
                      <span class="data-imported">
                      {{data.title}}
                      </span> 
                  </div>
                  <div v-else>
                    <span class="data-imported">
                      {{data.name}}
                    </span>
                  </div>
                </div>
              </div>
            </div>  

          </div>
        </div>
      </div>
      <!-- /PAGE WRAPPER -->
    </div>
    <!-- /VUE JS APP -->

    <!-- script js -->
    <script src="js/script.js"></script>
  </body>
</html>